.fancy-header {
    color: cadetblue; /* single line comment */
    text-decoration: underline;
    text-align: center;

}

.closing{
    font-weight: 600;
    font-size: 20px;
}



body{
    font-family: Arial, sans-serif;
    background-image: url("../images/19742.jpg");
    background-size: 20%;
    alignment: center;
}

.vision-images img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 50px;
}

.top-table{
    color: white;
    background-color: black;
}

/*.image{*/
/*    width: 400px;*/
/*    height: 250px;*/
/*    object-fit: cover;*/

/*}*/

#vision-images>image:nth-child(0){
    width: 400px;
    height: 250px;
    object-fit: cover;

}

.fancy-pics img:hover{
    cursor: default;
    transform: scale(1.5);
    transition: all .3s ease-in-out;
}

.contents{
    list-style-image: url("../images/icons8-corgi-16.png");

    /*text-align: center;*/
}



table{
    border-collapse: collapse;
}

th,td{
    border: 1px solid black;
    padding: 8px;
}


