:root {
    --main-bg: #E6ECF0;
    --link-color: #3B94D9;
    --main-link-color: #848487;
    --light-bg: #FFF;
    --separator-color: #DDD;
}
* {
    box-sizing: border-box;
}

header {
    background-image: url("https://picsum.photos/1200/300");
    background-size: cover;
    min-height: 300px;
    padding-top: 275px;
}

.page-wrapper {
    display:flex;
    flex-direction:column;
    min-height:100vh;
    background: #E6ECF0;
}

.container{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    width:100%;
    max-width: 1200px;
}

.row.full-width {
    max-width:100%;
}

.column{
    display: flex;
    flex-direction: column;
    flex: 1 0;
}

.column.col-shrink {
    flex: 0 1;
}

.column.profile-items{
    list-style-type: none;
    padding:0;

}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.container.header-container {
    width:100%;
    height: 100%;
    padding-bottom: 300px;
    background-image: url("https://picsum.photos/1200/300");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}
/*header {*/
/*    background-image: url("https://picsum.photos/1200/300");*/
/*    background-size: cover;*/
/*    min-height: 300px;*/
/*    padding-top: 275px;*/
/*}*/
a {
    color: var(--link-color);
}
.row.top-nav {
    /*background: var(--light-bg);*/
    width: 100%;
    z-index: 1000;


}
.nav {
    display: flex;
    list-style-type: none;
    padding: 12px;
    margin: 0;
    background: white;
    width: 100%;
    column-gap: 20px;

    position: sticky;
    top:0;
}



.nav-link {

    color: var(--main-link-color);
    font-weight: bold;
    text-decoration: none;

}
.nav-link:hover {
    color: var(--link-color);
}

.profile{
    width: 100%;
    justify-content: center;
    height: 80px;
    background: var(--light-bg);
}

.profile-header{
    line-height: 100px;
    position: fixed; top:330px;
}

.timeline{
    padding: 20px 10px 10px 10px ;

}


.media-image{
    z-index: 10;
}

.profile-form{
    line-height: 80px;

}

.profile-details{
    width: 270px;
    padding: 15px 0 0 10px;
    clear: left;
    display:block;
}

.btn {
    border: 1px solid var(--main-link-color);
    color: var(--main-link-color);
    background: var(--light-bg);
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
}
.btn-large {
    font-size: 1.3em;
    padding: 10px;
    margin-right: 10px;
}

.media{
    background: white;
    width: 100%;
    border-bottom: 1px solid #E6ECEF;
    padding-left: 10px;
}

.media-image{
    margin-top: 30px;
    width: 50px;
    height: 50px;
}

.media-body{
padding-bottom: 10px;
}

.who-to-follow{
    width: 250px;
    padding: 20px 0 5px 5px;
}

.media.row{
    /*border-bottom: .5em solid #E6ECEF;*/
}





.img-circle {
    border-radius: 100%;
    border: 4px solid var(--light-bg);
}
.text-right {
    text-align: right;
}
.text-muted {
    color: var(--main-link-color);
}

